apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    service: superset
  name: superset
  namespace: {{ superset_kube_namespace }}
spec:
  ports:
  - name: "Nginx Port 32443"
    protocol: TCP
    port: 32443
    targetPort: 32443
    nodePort: 32443
  selector:
    service: superset
  type: NodePort  
status:
  loadBalancer: {}
